<html>
  <body>
    <h1>Welcome to <%= node['company'] %></h1>
    <h2>We love <%= @site_name %></h2>
    <%= node['ipaddress'] %>:<%= @port %>
    <br>
    <img src=<%=@site_image_url%>>
  </body>
</html>
